@import '../../../../styles/index.scss';



.author-block{
  min-height: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
.ant-tabs-tab-btn{
  font-size: 35px;
  color: red;
}

