@import '../../styles/constants/index.scss';
@import '../../styles/_mixins.scss';

.slider {
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.font-icon-wrap {
  display: flex;
  &:before {
    display: none;
  }
  .font-icon {
    color: $borderDark;
    font-size: 25px;
  }
}

.slick-prev,
.slick-next {
  display: flex;
}
